* {
  margin: 0 auto;
}

#input {
  background-color: antiquewhite;
  border-radius: 1rem;
  border-width: 1px;
  padding: 5px 10px;
}

#btn {
  padding: 5px 20px;
  border-radius: 0.7rem;
  border-width: 1px;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

li {
  border: 1px solid black;
  text-align: center;
  align-items: center;
}

li:hover {
  background-color: aquamarine;
}

.liStyles {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
  list-style: none;
}
