.marked {
  color: aqua;
  font-weight: bold;
  font-size: 2rem;
}

#btn {
  font-size: 3rem;
  margin: 10px;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

#btn.enable:hover {
  background-color: hsl(160, 100%, 50%);
  color: black;
  box-shadow: 0px 0px 10px rgb(0, 255, 115);
}

.enable {
  background-color: hsl(204, 100%, 50%);
  color: white;
  box-shadow: 0px 0px 10px rgb(0, 110, 255);
}

.disable {
  background-color: hsl(160, 100%, 50%);
  color: black;
  box-shadow: 0px 0px 10px rgb(0, 255, 115);
}

.styles {
  font-size: 1.5rem;
  margin: 10px;
  padding: 1rem;
  border-radius: 1rem;
}
